<h3>Users</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
<h3>Category</h3>
<% @categories.each do |category| %>
    <p>User: <%=link_to user.name, user %></p>

